# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de dependencias
node_modules/
vendor/

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp 